Repository rnuravtsev/dms: changes, and which lefthook commands are due for each by the changed paths.
All: lint, stylelint, prettier

lint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn stylelint --fix {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

adds main-map
  package.json
  packages/client/src/app/layout/Main/Main.scss
  packages/client/src/app/layout/Main/Main.tsx
  packages/server/data/excel-vhi.js
  yarn.lock
Due: lint, stylelint, prettier

updates node version
  package.json
Due: none

adds map
  .env.sample
  packages/client/src/app/layout/Main/Main.tsx
  packages/server/data/excel-vhi.js
  packages/server/data/merge-vhi.js
  packages/server/data/vhi-output.xlsx
  packages/server/data/vhi-result-old.xlsx
  packages/server/package.json
Due: lint, prettier

adds map
  packages/server/data/vhi-output.xlsx
  packages/server/data/vhi-result-old.xlsx
Due: none

feat.(map): adds Yandex Map API via ymap3-components
  packages/client/data.json
  packages/client/global.d.ts
  packages/client/package.json
  packages/client/src/app/layout/Main/Main.scss
  packages/client/src/app/layout/Main/Main.tsx
  packages/client/src/app/layout/Main/Map/Map.scss
  packages/client/src/app/layout/Main/Map/Map.tsx
  packages/client/src/app/layout/Main/Map/features.ts
  packages/client/src/app/styles/index.scss
  packages/client/src/app/styles/mixins.scss
  packages/client/tsconfig.json
  yarn.lock
Due: lint, stylelint, prettier

feat.(map): adds Yandex Map API via ymap3-components
  packages/client/src/app/layout/Main/Main.scss
  packages/client/src/app/styles/mixins.scss
Due: stylelint

feat.(map): adds custom Marker
  packages/client/package.json
  packages/client/src/app/layout/Main/Main.scss
  packages/client/src/app/layout/Main/Main.tsx
  packages/client/src/app/layout/Main/Map/Map.scss
  packages/client/src/app/layout/Main/Map/Map.tsx
  packages/client/src/app/styles/index.scss
  packages/client/src/app/styles/vars.scss
  packages/client/src/assets/map-pin.svg
  packages/client/src/vite-env.d.ts
  packages/client/vhi-output.json
  packages/client/vite.config.ts
  packages/server/data/.~lock.vhi-output.xlsx#
  yarn.lock
Due: lint, stylelint, prettier

feat.(map): adds custom Marker
  packages/client/src/app/layout/Main/Map/Map.scss
Due: stylelint

feat.(map): changes node version to 18
  .github/workflows/checks.yml
  Dockerfile.client
  Dockerfile.server
  packages/client/src/app/layout/Layout.scss
  packages/client/src/widgets/ClinicsList/ClinicsList.scss
  packages/client/src/widgets/Map/MyHint.scss
Due: stylelint

feat.(map): turn off tests via git flow
  .github/workflows/checks.yml
Due: none

Update README.md
  README.md
Due: none

feat.(map): fixes clinics list height
  packages/client/src/components/ClinicsList/ClinicsList.scss
  packages/client/src/components/ClinicsList/ClinicsList.tsx
Due: lint, stylelint, prettier

feat.(map): add compound components and arch refactor
  packages/client/src/App.scss
  packages/client/src/App.tsx
  packages/client/src/assets/styles/mixins.scss
  packages/client/src/components/Clinics/Clinics.scss
  packages/client/src/components/Clinics/Clinics.tsx
  packages/client/src/components/Clinics/types.ts
  packages/client/src/components/Clinics/utils.ts
  packages/client/src/components/Map/Map.tsx
  packages/client/src/components/Map/MyHint.tsx
  packages/client/src/components/Map/types.ts
  packages/client/src/components/Search/Counter/Counter.scss
  packages/client/src/components/Search/Counter/Counter.tsx
  packages/client/src/components/Search/Input/Input.scss
  packages/client/src/components/Search/Input/Input.tsx
  packages/client/src/components/Search/Tabs/Tabs.scss
  packages/client/src/components/Search/Tabs/Tabs.tsx
  packages/client/src/components/Search/index.tsx
  packages/client/src/components/SearchSwitch/SearchSwitch.tsx
  packages/client/src/components/Sidebar/Sidebar.scss
  packages/client/src/context/clinics.tsx
  packages/client/src/context/search.tsx
  packages/client/src/layout/Footer/Footer.scss
  packages/client/src/layout/Footer/Footer.tsx
  packages/client/src/layout/Header/Header.scss
  packages/client/src/layout/Header/Header.tsx
  packages/client/src/layout/Main/Main.tsx
  packages/client/src/layout/Main/utils.ts
  packages/client/src/pages/layout/Layout.tsx
  packages/client/src/shared/types.ts
Due: lint, stylelint, prettier

feat.(map): moved Main.scss
  packages/client/src/layout/Main/Main.scss
Due: stylelint

feat.(map): transforms radio to tabs
  packages/client/src/components/Clinics/Clinics.tsx
  packages/client/src/components/Search/Tabs/Tabs.scss
  packages/client/src/components/Search/Tabs/Tabs.tsx
Due: lint, stylelint, prettier

feat.(map): transforms radio to tabs
  packages/client/src/components/Search/Tabs/Tabs.scss
Due: stylelint

feat.(map): improve search UX
  packages/client/src/components/Clinics/Clinics.tsx
  packages/client/src/components/Search/Input/Input.tsx
  packages/client/src/components/Search/index.tsx
  packages/client/src/context/search.tsx
Due: lint, prettier

feat.(map): adds spinner when map loads
  packages/client/src/components/Map/Map.scss
  packages/client/src/components/Map/Map.tsx
  packages/client/src/components/Search/Tabs/Tabs.scss
  packages/client/src/components/Spinner/Spinner.scss
  packages/client/src/components/Spinner/Spinner.tsx
  packages/client/src/components/Spinner/index.ts
Due: lint, stylelint, prettier

feat.(map): adds styles via keyboard events
  packages/client/src/components/Search/Tabs/Tabs.scss
  packages/client/src/components/Search/Tabs/Tabs.tsx
  packages/client/src/components/Search/index.tsx
  packages/client/src/components/Spinner/Spinner.scss
Due: lint, stylelint, prettier

feat.(map): adds styles via keyboard events
  packages/client/src/components/Search/Tabs/Tabs.scss
Due: stylelint

feat.(map): redesign main blocks
  packages/client/src/assets/styles/index.scss
  packages/client/src/assets/styles/vars.scss
  packages/client/src/components/Map/Map.scss
  packages/client/src/components/Sidebar/Sidebar.scss
  packages/client/src/layout/Main/Main.tsx
Due: lint, stylelint, prettier

feat.(map): redesign main blocks
  packages/client/src/assets/styles/index.scss
  packages/client/src/assets/styles/vars.scss
  packages/client/src/components/Map/Map.scss
  packages/client/src/components/Sidebar/Sidebar.scss
Due: stylelint

feat.(app): moves colors to scss vars
  packages/client/src/assets/styles/mixins.scss
  packages/client/src/assets/styles/vars.scss
  packages/client/src/components/Clinics/Clinics.scss
  packages/client/src/components/Map/Map.scss
  packages/client/src/components/Map/MyHint.scss
  packages/client/src/components/Search/Input/Input.scss
  packages/client/src/components/Search/Tabs/Tabs.scss
  packages/client/src/components/Spinner/Spinner.scss
Due: stylelint

feat.(app): moves colors to scss vars
  packages/client/src/components/Clinics/Clinics.scss
Due: stylelint

feat.(app): adds useClientHeight for better DX
  packages/client/src/App.tsx
  packages/client/src/components/Clinics/Clinics.tsx
  packages/client/src/components/Clinics/useClientHeight.ts
  packages/client/src/components/Search/Input/Input.tsx
  packages/client/src/components/Search/Tabs/Tabs.tsx
Due: lint, prettier

feat.(app): adds effector
  packages/client/package.json
  yarn.lock
Due: none

feat.(app): replaces React.context with an effector
  packages/client/src/App.tsx
  packages/client/src/components/Clinics/Clinics.tsx
  packages/client/src/components/Map/Map.tsx
  packages/client/src/components/Search/Input/Input.tsx
  packages/client/src/components/Search/Tabs/Tabs.tsx
  packages/client/src/components/Search/index.tsx
  packages/client/src/context/clinics.tsx
  packages/client/src/context/search.tsx
  packages/client/src/layout/Main/Main.tsx
  packages/client/src/store/index.ts
Due: lint, prettier

add(app): adds eslint`s effector rules
  .eslintrc.js
  packages/client/package.json
  yarn.lock
Due: none

chore: updates ESLint configuration for import/order rule and React settings
  .eslintrc.js
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Clinics/Clinics.tsx
  packages/client/src/components/Clinics/utils.ts
  packages/client/src/components/Map/Map.tsx
  packages/client/src/components/Map/MyHint.tsx
  packages/client/src/components/Search/Input/Input.tsx
  packages/client/src/components/Search/Tabs/Tabs.tsx
  packages/client/src/components/Search/index.tsx
  packages/client/src/index.tsx
  packages/client/src/layout/Main/Main.tsx
  packages/client/src/store/index.ts
  packages/client/vite.config.ts
  yarn.lock
Due: lint, prettier

chore: adds plugin-alias for vite
  packages/client/package.json
  yarn.lock
Due: none

chore: redesigned the repositories for the client
  src/components/Clinics/Clinics.scss
Due: stylelint

chore: deletes /data from git
  .gitignore
Due: none

chore: fix vite types
  data/excel-vhi.js
  data/vhi-data-copy.xlsx
  data/vhi-map-output.xlsx
  data/vhi-output-copy.xlsx
  package.json
  src/components/Map/Map.tsx
  src/components/Search/Input/Input.tsx
  tsconfig.json
  vite-env.d.ts
  yarn.lock
Due: lint, prettier

feat(theme): adds theme type
  src/shared/types.ts
Due: lint, prettier

feat(theme): adds theme store and events
  src/store/index.ts
Due: lint, prettier

feat(theme): adds theme component and logic with him
  src/components/Map/Map.tsx
  src/components/ThemeSwitcher.scss
  src/components/ThemeSwitcher.tsx
  src/components/layout/Header/Header.scss
  src/components/layout/Header/Header.tsx
  src/store/index.ts
Due: lint, stylelint, prettier

Path conditions:
  lint: any of: *.{ts,tsx}
  stylelint: any of: *.{scss,css}
  prettier: any of: *.{ts,tsx,css}
